{# grazie al tag {% extends %} dico al template engine che questo template espande un altro template #}
{% extends "base.html" %}

{# al momento della valutazione di questo template l'engine cercherà il template padre, in questo caso base.html, e andrà a sostituire i blocchi {% block nomebloco %} del padre con quelli corrispondenti presenti in questo #}
{% block title %}new title{% endblock %}

{% block content %}
{% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body }}</p>
{% endfor %}
{% endblock %}